@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
.header{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  padding: 15px; 
}
.headerframe{
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Connectbtn{
  border: 1px solid rgb(167, 167, 167);
  border-radius: 5px;
  padding: 5px;
  letter-spacing: 1px;
  font-weight: 600;
  color:rgb(101, 101, 101) ;
gap: 5px;
}
.sections{
  align-items: center;
}
.sectionssec{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px; 

}
.sectionsframe{
  width: 60%;
}

.secleft{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.shop{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.shopframe{
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search{
  width: 100%;
  padding: 10px;
}
.searchtittle{
  font-size: 36px;
  font-weight: 200;
  letter-spacing: 2px;
}
.search input{

  width: 600px;
  outline: 0;
  border: 0;



}
.searchinput{

  padding: 15px;
  border: 1px solid black;
  display: flex;
  gap: 5px;
  width: 95%;
  border-radius: 10px;

}
.searchbtn{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  height: 64px;
  border-radius: 10px;
  position: absolute;
  width: 150px;
  left: 87%;
}
.searchtittle{
  margin-bottom: 15px;
}
.shopframe{
  flex-direction: column;
}
.categoryes{
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px;

}

.reviews{
  font-size: 13px;
}
.newest{
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.addtocart{
  border: 1px solid black;
  padding: 5px;
  cursor: pointer;
  border-radius: 3px;
}
.card .left{
  display: flex;
  flex-direction: column;

}
.card{
  padding: 10px;
  background-color: white;

  box-shadow: 5px 5px 21px 1px rgb(214, 214, 214);
  border-radius: 10px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.adminlogin{
  height: 800px;
  width: 100%;
}
.adminloginframe input{
  width: 300px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 15px;

}
.adminloginframe{
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.adminloginframe a{
  padding: 10px;
  border-radius: 15px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.adminpaneltittle{
  font-size: 34px;
  font-weight: 600;
}
.bar{



  width: 100%;
  height: 100vh;
 background-color: #0e31f7;


  display: flex;
  flex-direction: column;

  align-items: center;
  padding-top: 20px;

  
}
.logopanel{
  padding: 30px;
}
.botomer{
  border-bottom: 1px solid white;
  padding-bottom: 5px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sectionspanel{
  width: 100%;
}
.sectionspanel .tittle{
  font-weight: 500;
  padding: 10px;

}
.sectionspanel .option{


  width: 100%;
  
  padding: 20px;
  letter-spacing: 2px;

  font-size: 18px;
  border-bottom: 1px solid rgba(100, 100, 100, 0.151);
  padding-left: 30px;

  display: flex;
  align-items: center;
  justify-content: start;
}
.tittle{
  text-align: start;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  
}
.logopanel{
  width: 100%;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 1px;
}
.choosed{
  background-color: #2f4eff;
  transition: 1s;
}
.leftpanel{
  width: 15%;
}
.panelcreate{
  padding: 20px;
}
.createtittle{
  font-size: 24px;
  letter-spacing: 1px;
}
.optionselector{
  background-color: #2f4eff;
  color: white;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;


}
.panelcreate{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 95vh;
}
.panelcreateframe{
  

  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 15px;
}
.panelcreateframe input{
  width: 1000px;
  background-color: black;
  border-radius: 5px;
  padding: 15px;
  color: white;



}
.sucess{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.damateba{
  display: flex;
  width: 100%;
  align-items: center;
}
.aircie{
  width: 250px;
}
.panelcreateframe select{
  width: 100%;
  background-color: black;
  border-radius: 5px;
  padding: 15px;



}
.rightanswer{
  width: 100%;
}
.panelcreateframe button{
  width: 100%;
  text-align: center;
  
}
.panelcreateframetittle{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 36px;
}
.card{
  width: 33.3%;
}
.sale{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  
}
